
#gridstyle{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "header header" "sidebar main" "footer footer";
}

.sidebar {
    border-style: solid;
    border-color: green;
    border-width: 1px;
    padding: 10px;
    margin: 10px;

    grid-area: sidebar;
}

header{
    border-style: solid ;
    border-color: green;
    border-width: 1px;
    padding: 10px;
    margin: 10px;

    text-align: center;
    justify-content: space-between;
    grid-area: header;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

main{
    border-style: solid;
    border-color: green;
    border-width: 1px;
    padding: 10px;
    margin: 10px;

    grid-area: main;
}

footer{
    border-style: solid;
    border-color: green;
    border-width: 1px;
    padding: 10px;
    margin: 10px;
}

nav ul li {
    margin-right: 20px;
}

nav ul{
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: center;
}